<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/dayjs.min.js" integrity="sha512-0fcCRl828lBlrSCa8QJY51mtNqTcHxabaXVLPgw/jPA5Nutujh6CbTdDgRzl9aSPYW/uuE7c4SffFUQFBAy6lg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="css/style.css">
        <title>Boolzapp</title>
    </head>
    <body>
        <div class="sfondo">
            <div class="sfondo_top">

            </div>
            <div class="sfondo_bottom">

            </div>
            <div id="root">
                <div class="col_left">
                    <div class="col_left_top">
                        <div class="avatar">
                            <img src="img/avatar_ioo.jpg" alt="avatar utente">
                            <div class="nome_utente">Alessandro De Santis</div>
                        </div>
                        <span>
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </span>
                    </div>
                    <div class="notifica">
                        <i class="fas fa-bell-slash"></i>
                        <div class="notifica_text">
                            <div class="text">Ricevi notifiche di nuovi messaggi</div>
                            <div class="bottom">Attiva notifiche desktop</div>
                        </div>
                    </div>
                    <div class="barra_ricerca">
                        <div class="campo_ricerca">
                            <i class="fas fa-search"></i>
                            <span>Cerca o inizia una nuova chat</span>
                        </div>
                    </div>

                    <div class="chat" v-for="(contact, index) in contacts" :class="(index == chatAttiva) ? 'chat_attiva' : ''" @click="setChat(index)">
                        <img :src="getImage(index) " alt="">
                        <div class="anteprima">
                            <div class="nome">{{ contacts[index].name }}</div>
                            <div class="messaggio">{{ contacts[index].messages[getLastMessages(index)].text.substr(0, 30) + "..." }}</div>
                        </div>
                        <div class="data">{{ contacts[index].messages[getLastMessages(index)].date }}</div>
                    </div>

                </div>
                <div class="col_right">
                    <div class="col_right_top">
                        <div class="avatar">
                            <img :src="getImage(chatAttiva)" alt="">
                            <div class="chat_info">
                                <div class="nome">{{ contacts[chatAttiva].name }}</div>
                                <div class="ultimo_accesso">ultimo accesso di recente</div>
                            </div>
                        </div>
                        <span>
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </span>
                    </div>
                    <div class="col_right_center">

                        <div v-for="(message, index) in contacts[chatAttiva].messages" :class="getStatus(index)">
                            {{ getMessage(index) }}
                            <div class="data">{{ getDate(index) }}</div>
                        </div>

                    </div>
                    <div class="col_right_bottom">
                        <div class="emoji">
                            <i class="far fa-smile"></i>
                        </div>
                        <div class="nuovo_messaggio">
                            <!-- <div class="box_messaggio">
                                Scrivi un messaggio
                            </div> -->
                            <input type="text" placeholder="Scrivi un messaggio" class="box_messaggio" v-model="nuovoMessaggio.text" @keydown.enter="sendMessage">
                        </div>
                        <div class="messaggio_vocale">
                            <i class="fas fa-microphone"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="js/script.js"></script>
    </body>
</html>